.row
  %h1 Music Video Suggestions
  %h2 Current requests added by you, the attendees!

.row.content
  %ul.video-list
    - @videos.each do |video|
      %li
        %h3= "#{video.artist} by #{video.song}"
        %p= "Suggested by #{video.suggested_by}"

.row.add
  %h3 Want to add another? Go ahead!
  = link_to 'Add Video', new_video_path, :class => 'new-video btn btn-primary'
