%ul.video-list
  - @videos.each do |video|
    %li
      %h3= "#{video.song} by #{video.artist}"
      %p= "Suggested by #{video.suggested_by}"

.add-more
  = link_to 'Add Video', new_video_path, :class => 'new-video btn btn-primary'
  %h4 Please add to this list!
