- unless notice.blank?
  %p#notice= notice
  
%ul
  %li
    %h5 Artist:
    %p= @video.artist
  %li
    %h5 Song:
    %p= @video.song
  %li
    %h5 Suggested by:
    %p= @video.suggested_by

%ul.actions
  %li= link_to 'Edit', edit_video_path(@video), :class => 'btn'
  %li= link_to 'Back', videos_path, :class => 'btn'
