<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @video.artist %>
</p>

<p>
  <b>Song:</b>
  <%= @video.song %>
</p>

<p>
  <b>Suggested by:</b>
  <%= @video.suggested_by %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
